<app-header-tab [header]="spPartnerHeader"></app-header-tab>
<ion-content>
  <ion-card class="category-card" (click)="activatePromo()">
    <img [src]="promoUrl" />
    <ion-card-header>
      <ion-card-subtitle>Активация промокода</ion-card-subtitle>
      <ion-card-title>Промокод</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="category-card" (click)="activateCertificate()">
    <img [src]="certificateUrl" />
    <ion-card-header>
      <ion-card-subtitle>Активация Сертификата</ion-card-subtitle>
      <ion-card-title>Сертификат</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
