.header-flex {
  display: flex;
  .back-btn {
    margin-right: 3vw;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: #000000;
  }
}
.user-header {
  display: grid;
  grid-gap: 4vw;
  grid-template-columns: 1fr 1fr;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 1vw;
}
.user-info {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.08px;
  color: #000000;

}
.price {
  color: rgba(0, 0, 0, 0.39);
  font-size: 18px;
}
.order_id {
  justify-self: end;
  font-size: 18px;
  letter-spacing: -0.08px;
  color: rgba(0, 0, 0, 0.39);
}
.black {
  color: #000000;
  font-weight: 500;
}
.action-buttons {
  justify-self: end;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.action-button {
  border-radius: 50%;
  background-color: #FFCA00;
  width: 10vw;
  height: 10vw;
}
.detail-text {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.08px;
  color: #000000;
}
.products-card {
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-height: 80vw;
  overflow: scroll;
}
