.ion-content-flex-center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  position: fixed;
}

.display-flex-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.profile-avatar-image {
  height: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tabs-modal-component {
  align-items: baseline;
  --height: 94%;
  --backdrop-opacity: 0;

  :first-of-type {
    --backdrop-opacity: 0;
  }
}

ion-toolbar .sc-ion-searchbar-ios-h {
  padding: 0 !important;
  height: 60px;

}

app-delivery-tab {
  ion-card {
    --background: black;

    ion-card-subtitle {
      --color: white;
    }
  }
}

.qrcode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

