<ion-tabs #ionTabs (ionTabsWillChange)="ionTabsWillChange($event)">
  <app-header-tab></app-header-tab>
  <ion-tab-bar slot="bottom">
    <ng-container *ngFor="let tab of tabs">
      <ng-container *ngIf="tab?.route; else routeClick">
        <ion-tab-button [tab]="tab?.route">
          <ion-icon [name]="tab?.icon"></ion-icon>
        </ion-tab-button>
      </ng-container>
      <ng-template #routeClick>
        <ion-tab-button (click)="tab.click()">
          <ion-icon [color]="tab?.selectedIcon?'danger': ''" [name]="tab?.icon"></ion-icon>
        </ion-tab-button>
      </ng-template>
    </ng-container>
  </ion-tab-bar>
</ion-tabs>
