<ion-content scrollY="true">
    <ion-grid>
        <ion-card class="{{!data?.user?.banned ? 'user-info-card': 'user-banned-card'}}">
            <ion-item>
                <ion-label>Категория: {{data.category.name}}</ion-label>
                <ion-badge slot="end" color="success">{{data.category.percentage}}%</ion-badge>
            </ion-item>
            <img [src]="logoPath" alt="logo">
            <ion-card-header>
                <ion-card-subtitle>+{{data.user.phone}}</ion-card-subtitle>
                <ion-card-title>{{data.user.surname + ' ' + data.user.name}}</ion-card-title>
                <ion-card-subtitle>Доступно бонусов: {{data.user.activeBonuses}}</ion-card-subtitle>
                <ion-card-title *ngIf="data?.user?.banned">Пользователь заблокирован!</ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-row>
            <ion-item>
                <ion-label position="floating">Сумма транзакции</ion-label>
                <ion-input (ionChange)="changeTotalSum()" type="number" clear-input
                           [(ngModel)]="totals.sum"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Потратить бонусы</ion-label>
                <ion-toggle slot="start" name="blueberry" (ionChange)="spendBonusChange()"
                            [(ngModel)]="spendBonuses"></ion-toggle>
            </ion-item>
        </ion-row>
        <ion-row class="display-flex-center">
            <h1 class="payed-h1">
                Оплатить {{totals.cash}} тг
            </h1>
        </ion-row>
        <ion-row class="display-flex-center bottom-buttons">
            <ion-button [disabled]="data?.user?.banned || totals.sum <= 0" color="success" (click)="pay()">Оплатить</ion-button>
            <ion-button (click)="goBack()">Закрыть</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
