<app-content-flex-center>
    <div class="display-flex-center ion-align-items-center">
        <img class="logo_img" [src]="logoPath" alt="Smartplaza">
    </div>

    <ion-row>
        <ion-item>
            <ion-label position="floating">Логин</ion-label>
            <ion-input [(ngModel)]="user.username"
                       type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Введите пароль</ion-label>
            <ion-input [(ngModel)]="user.password"
                       type="password"></ion-input>
        </ion-item>
    <div class="ion-padding"></div>
        <ion-button style="width: 100%" (click)="login()" expand="block">Вход</ion-button>
    </ion-row>

</app-content-flex-center>

