<ion-content scrollY="true">
    <ion-grid>
        <ion-card class="{{!data?.user?.banned ? 'user-info-card': 'user-banned-card'}}">
            <ion-item>
                <ion-label>{{brand?.title}}</ion-label>
            </ion-item>
            <img [src]="qrSource" alt="">
            <ion-card-header>
                <ion-card-title>Отсканируйте QR для оплаты покупки</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-grid>
<ion-row class="display-flex-center bottom-buttons">
<!--    <ion-button color="success" (click)="pay()">Оплатить</ion-button>-->
    <ion-button (click)="goBack()">Закрыть</ion-button>
</ion-row>
</ion-content>
