ion-toolbar {
  background-color: #2D3E50;
  //color: #ffffff;
}
.fixed-top {
  //padding: 10px 16px;
  background: #ffffff;
  //color: #f1f1f1;
  //width: 100%;
  //position: fixed;
  //z-index: 100;
}
.transactions-list {
  padding-top: 170px;
}

