ion-toolbar {
  background-color: #2D3E50;
  //color: #ffffff;
}
.fixed-top {
  //padding: 10px 16px;
  background: #ffffff;
  //color: #f1f1f1;
  //width: 100%;
  //position: fixed;
  //z-index: 100;
}
.ion-input {
  width: 100%;
}
.transactions-list {
  padding-top: 290px;
}
.filter-fixed {
  background-color: #ffffff;
  width: 100%;
}
.filter-header-card {
  margin-inline: 0;
  margin: 0;
}
.success-icon {
  color: #D5482F;
}
.transacion-card {
  background-color: #D6FBDC;
}
