:host {
  display: contents;
}
ion-toolbar {
  --background: #2D3E50;
  --opacity: 1;
}
ion-title {
  --color: #FFFFFF;
  padding: 0;
}
ion-button {
  --color: #FFFFFF !important;
}
ion-icon {
  --color: #FFFFFF !important;
}
