ion-item {
  width: 100%;
}
ion-list {
  width: 100%;
}
.logo_img {
  width: 55%;
}
ion-button {
  //background-color: #FFCA00 !important;
  color: #000000;
}
.list-totals {
  margin-bottom: 12%;
  border-top: #D7D7D7 3px solid;
  border-bottom: #D7D7D7 3px solid;
}
