.profile-page-buttons {
  margin: 10vw 0;
}
.profile-button {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 8vw 8vw;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 18px;
}
.profile-button.logout {
  margin-top: 17vw;
}
ion-item {
  width: 100%;
}
ion-list {
  width: 100%;
}
.logo_img {
  width: 55%;
}
ion-button {
  //background-color: #FFCA00 !important;
  color: #000000;
}
.list-totals {
  margin-bottom: 12%;
  border-top: #D7D7D7 3px solid;
  border-bottom: #D7D7D7 3px solid;
}
